.user-back{
    background: url(../Images/background.jpg) bottom;
};
.center{
    display: flex;
    height: 89vh;
    justify-content: center;
    align-items: center;
}
.center-card{
    border-radius: 13px;
    box-shadow: 1px 1px 20px;
    background: white;
}